.tabs {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 46rem;
	
	&__nav {
		width: 100%;
		display: flex;
		flex-direction: column;

		@media (min-width: 29.75rem) {
			flex-direction: row;
		}
	}
	
	&__button {
		position: relative;
		z-index: 9;
		flex-grow: 1;
		padding: 0.75rem 0.25rem;
		font-size: 1.25rem;
		background-color: $c-white;
		color: $theme-primary;
		border: none;
		font-family: $font-secondary;
		transition: all 150ms ease;
		
		@media (min-width: 29.75rem) {
			border-radius: 0.5rem 0.5rem 0 0;
		}
		
		& + & {
			@media (min-width: 29.75rem) {
			margin-left: 0.25rem;
			}
		}
		
		&[aria-selected="false"] {
			background-color: $c-white;
			border-color: $theme-primary;
			color: $theme-primary;
		}
		
		&:hover {
			background-color: #444;
			border-color: #444;
			color: $c-white;
			text-decoration: underline;
		}
		
		&:active,
		&:focus,
		&[aria-selected="true"] {
			background-color: $theme-primary;
			border-color: $theme-primary;
			color: $c-white;
		}
	}
	
	&__container {
		text-align: left;
		font-family: $font-secondary;
		font-size: 1rem;
		padding: 1rem 2rem;
		border-top: 2px solid $theme-purple;

		&[aria-hidden="true"] {
			display: none;
		}
		
		&[aria-hidden="false"] {
			display: block;
			background-color: $c-white;
			box-shadow: 2px 6px 10px 1px rgba(0, 0, 0, 0.1);
		}
	}
}