extends ../layout

block variables
  - let title = 'Building Blocks';
  - let description = 'components for building modern, performant, accessible websites';
  - let pageClass = 'theme-showcase';
  - let mainClass = 'showcase';

block content
  .block.block--upper
    .heading-wrapper
      h1.reveal-text Building Blocks
      p.reveal-text components for building modern, performant, accessible websites
  .block.block--lower
    .showcase__cards.showcase--position
      a(href="./multi-select-accordion.html").card
        h2 Accordion
      a(href="./modal.html").card
        h2 Modal
      a(href="./tabs.html").card
        h2 Tabs