@font-face {
  font-family: 'Zoika';
  src: url('../assets/Zoika.ttf')  format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../assets/Roboto-Light.ttf')  format('truetype')
}

$font-primary: 'Zoika', Fallback, sans-serif;
$font-secondary: 'Roboto', sans-serif;

.heading-wrapper {
  display: inline-block;

  @media (min-width: 32rem) {
    position: relative;
    top: 8vh;
  }

  h1 {
    line-height: 1;
    font-family: $font-primary;
    font-size: 3rem;
    margin-bottom: 0;
    color: $theme-primary;

    @media (min-width: 32rem) {
      font-size: 5rem;
    }
  }

  p {
    font-family: $font-secondary;
    font-size: 1.25rem;
    text-align: left;
    color: $theme-primary;

    @media (min-width: 32rem) {
      font-size: 1.5rem;
    }
  }
}
.component-heading {
  font-family: $font-primary;
  font-size: 3rem;
  padding: 1rem;
  line-height: 1;
  padding-bottom: 2rem;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 0;
  border-bottom: 1px solid #2b2a2e;

  @media (min-width: 32rem) {
    padding: 0;
    padding-bottom: 1.5rem;
  }
}

h1 {
  text-align: left;
  line-height: 1.5;
  margin: 2rem 0 4rem;
  color: $theme-primary;
}

p {
  font-family: $font-secondary;
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;

  @media (min-width: 50rem) {
    font-size: 1.25rem;
  }
}
