$theme-primary: #2b2a2e;
$theme-green: lighten(#33a59b, 5%);
$theme-blue: lighten(#6D9DC5, 5%);
$theme-purple: lighten(#7b80b5, 5%);
$theme-yellow: #f0f095;
$c-white: #fff;

.component-wrapper {
  padding: 2rem;
  margin: auto;
  box-sizing: border-box;
  min-height: 87vh;
  background-color: #eee;
  overflow: hidden;

  @media (min-width: 32rem) {
    padding: 4rem;
    margin-left: 4rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}