$theme-primary: #2b2a2e;
$theme-green: lighten(#33a59b, 5%);
$theme-blue: lighten(#6D9DC5, 5%);
$theme-purple: lighten(#7b80b5, 5%);
$theme-yellow: #f0f095;
$c-white: #fff;

// .theme-modal {
//   background-color: $theme-blue;
// }

// .theme-accordion {
//   background-color: $theme-purple;
// }

// .theme-showcase {
//   margin: 0;
// }

.component-wrapper {
  padding: 6rem;
  margin: auto;
  box-sizing: border-box;
  min-height: 80vh;
  background-color: #eee;
}